@import url(http://fonts.googleapis.com/css?family=Varela);
body {
	font-family: 'Varela', sans-serif;
	color: $dove;
}

h1 {
	font-size: $h1;
	line-height: $line;
	margin-bottom: 10px;
}

h2 {
	text-align: center; 
	color: $coala;
	font-weight: 100;
	font-size: $h2;
	line-height: $line;
}

h3 {
	font-size: $h3;
	line-height: $line;
	color: $timberwolf;
	font-weight: 700;
	margin-bottom: 20px;
}

h4 {
	font-size: $h4;
	line-height: $line;
}

p { 
	line-height: 24px;
}

h1, h4, strong {
	color: $timberwolf;
	font-weight: 700;
	&:hover,
	&:focus {
		color: $aquamarine;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.links {
	font-size: $p;
	p {
		line-height: 21px;
	}
}