@import url(http://fonts.googleapis.com/css?family=Varela);
body {
	font-family: 'Varela', sans-serif;
	color: $dove;
}

h1 {
	font-size: $h1;
	line-height: $h1;
}

h4 {
	font-size: $h4;
	line-height: $h1;
}

p { 
	line-height: 24px;
}

h1, h4, strong {
	color: $timberwolf;
	font-weight: 700;
	&:hover,
	&:focus {
		color: $aquamarine;
	}
}

.links {
	font-size: $p;
	p {
		line-height: 21px;
	}
}