/******COLOR******/
$white: #fff;
$black: #000;

// green colors
$aquamarine: #199b8c; // title hover, strong hover

// gray - from darkest to lightest
$timberwolf: #4e4e4e; // h1 color
$dolphin: #525252; // h4 color, strong
$dove: #747474; // header, links color, text
$coala: #a2a2a2; // links unactive color
$mice: #f8f8f8; // header bg

/******FONT_SIZES******/
$base: 16px;
$h1: 48px;
$h2:;
$h3:;
$h4: 18px;
$p: 13px;


/******Z-INDEXES******/

