//specific styleshees for courses page

//aside navigation styles
.aside-nav {
	text-align: center;
	color: $coala;
	float: left;
	margin-top: 18px;
	li {
		margin: 5px 0;
	}
	@include span-columns(2, 'block-collapse');
}
.border {
	text-align: left;
}

//main content styling
main {
	@include row();
	h2 {
		margin-bottom: 40px;
	}
}
.courses-content{
	@include span-columns(10, 'block-collapse');
}
.breadcrumb {
	font-size: 16px;
	max-width: 12.4em;
	margin: 0px 0 20px 0;
}
.link-arrow {
	@include right;
	margin-top: 5px;
	.arrow_green{
		display: none;
	}
}	
.sub-category {
	color: $coala;
	font-size: 16px;
	padding: 0 0 0 50px;
}

.link-univ {
	max-width: 150px;
	padding: 10px 0 18px 0;
}

.course-info {
	margin: 20px 0;
}
.prof-info {
	margin: 30px 0;
}

//footer
footer {
	background-image: url("../images/footer_paint.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 300px;
	height: 250px;
	position: relative;
	@include row();
}

.footer-wrap {
	position: absolute;
	left: 0;
	bottom: 10px;
}

.footer-aside {
	text-align: center;
	display: block;
	margin-top: 20px;
	@include span-columns(2, 'block-collapse');
}

.footer-content {
	color: $coala;
	font-weight: 100;
	@include span-columns(10, 'block-collapse');
}
