// specific styleshees for courses page
// modal navigation window styling
.modal-dialog {
	width: 100%;
}
.modal {
	.aside-nav {
		text-align: left;
		a:after {
			content: attr(data-alt);
		}
		.border {
			a:after {
				@include media($catelyn) {
					content: attr(data-year);
				}
			}
		}
		.point{
			padding: 10px 0 5px 7.5%;
			font-size: $p;
			img {
				padding-right: 7.5%;
			}
			&:hover,
			&:focus {
				color: $aquamarine;
			}
			@include media($sansa) { 
				font-size: $base;
				padding: 10px 0 5px 2.2%;
			}
		}
		li {
			@include media($sansa) { 
				@include span-columns(12 of 12, 'block-collapse');
			}
		}
		a {
			@include media($sansa) { 
				@include span-columns(3 of 12, 'block-collapse');
			}
		}
		p {
			padding: 0 0 0 9%;
			font-size: $base;
			@include media($sansa) { 
				display: inline;
				padding: 0;
				@include span-columns(9 of 12, 'block-collapse');
			}
		}
		@include span-columns(12, 'block-collapse');
		@include media($catelyn) {
			padding-top: 190px;
		}
	}
}

.close {
	cursor: pointer;
	padding: 7em 0 1.5em 2.45em;
	@include media($catelyn) {
		display: none;
	}
}

// aside navigation styles
.aside-nav {
	text-align: center;
	color: $coala;
	float: left;
	margin-top: 18px;
	li {
		margin: 5px 0;
	}
	@include span-columns(2, 'block-collapse');
	@include media($sansa) {
		margin-top:  0px;
		.plus {
			padding-right: 40px;
			padding-bottom: 25px;
		}
		li{
			text-align: left;
		}
		.point {
			padding: 15px 0 25px 15px;
			img {
				padding-right: 15px;
			}
			&:hover,
			&:focus {
				color: $aquamarine;
			}
		}
		a:after {
			content: attr(data-alt);
		}
		@include span-columns(3, 'block-collapse');
	}
	@include media($robb) {
		.plus {
			display: none;
		}
	}
	@include media($catelyn) {
		@include span-columns(2, 'block-collapse');
	}
}
.border {
	text-align: left;
	color: $dove;
	@include media($sansa) { 
		padding-top: 15px;
	}
}

.current {
	color: $aquamarine;
}

//main content styling
.courses-main-wrap {
	@include row();
	padding-top: 7%;
	h2 {
		margin-bottom: 40px;
	}
}
.courses-content{
	@include span-columns(10, 'block-collapse');
	@include media($sansa) { 
		@include span-columns(9, 'block-collapse');
		@include pad(0 4.35765% 0 0);
	}
	@include media($catelyn) {
		@include span-columns(10, 'block-collapse');
	}
}
.breadcrumb {
	font-size: 16px;
	max-width: 12.4em;
	margin: 0px 0 20px 0;
}
.link-arrow {
	@include right;
	margin-top: 5px;
	.arrow_green{
		display: none;
	}
}	
.sub-category {
	color: $coala;
	font-size: 16px;
	padding: 0 0 0 50px;
}

.link-univ {
	max-width: 150px;
	padding: 10px 0 18px 0;
}

.course-info {
	margin: 20px 0;
}
.prof-info {
	margin: 30px 0;
	@include media($robb) {
		margin-top: 3.88em;
		padding-left: 6%;
		@include span-columns(4 of 9, 'block');
	}
}
.courses-wrap {
	@include media($robb) {
		@include span-columns(5 of 9);
	}
}

//footer
footer {
	background-image: url("../images/footer_paint.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 300px;
	height: 250px;
	position: relative;
	@include row();
}

.footer-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
}

.footer-aside {
	text-align: center;
	display: block;
	margin-top: 20px;
	@include span-columns(2, 'block-collapse');
	@include media($sansa) {
		@include span-columns(1, 'block-collapse');
		margin-top: 4px;
	}
}

.footer-content {
	color: $coala;
	font-weight: 100;
	@include span-columns(10, 'block-collapse');
	@include media($sansa) {
		p {
			float: left;
			small {
				font-size: $base;
			}
		}
	}
}
