// styles for home page only 
.image-group{
    	overflow:hidden;
    	position: relative;
}
.header-img {
	background-image: url("../images/h_man.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-color: $mice;
	background-size: 160%;
	height: 320px;
}

.header-text {
	text-align: center;
	line-height: $h3;
	width: 100%;
	padding: 8% 6%;
	h1 {
		font-size: $h3;
		line-height: $h3;
		padding: 0 10%;
	}
	p {
		font-size: $p;
		padding: 0.66% 6.666% 1.66% 6.666%;
	}
}

.header-text {
	.arrow_small{
			position: absolute;
			margin: 6px 0 0 15px;
			display: none;
		}
	&:hover,
	&:focus {
		h1 {
			color: $aquamarine;
		}
		p {
			color: $timberwolf;
			.arrow_small {
				//display: inline-block;
			}
		}
	}
}

/*********Links********/
.links {
	@include media($robb) {
		@include span-columns(3);
		margin: 80px 0 0 0;
	}
	width:100%;
	margin: 0;
	.link {
		float: right;
		margin-right: 2.3em;
	}
}

.link {
	max-width: 260px;
	padding-bottom: 16px;
	.link-arrow {
		@include right;
		margin: 15px 0 10px 40px;
		.arrow_green{
			display: none;
		}
	}
}

.links {
	&:hover{
		p,strong {
			color: $coala;
		}
	}
}

.link {
	&:hover{
		p {
			color: $timberwolf;
		}
		strong {
			color: $aquamarine;
		}
		.arrow_small {
			display: none;
		}
		.arrow_green{
			display: inline-block;
		}
	}
}


