// styles for home page only 

.header-img {
	background-image: url("../images/h_man.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	height: 550px;
}

.header-text {
	margin-top: 267px;
	max-width: 426px;
	margin-left: 88px;
}

.image-group {
	height: 100%;
	background-color: $dove;
}
