// navigation style 
.right {
	float: right;
}
.left {
	float: left;
}

.top-bar {
	height: 100px;
	ul {
		width: auto;
		height: auto !important;
		display: inline;
		li {
			float:left;
			padding: 0 15px;
			&:hover,
			&:focus {
				color: $aquamarine;
			}
		}
	}
}

.sub_item {
	display: none;
	color: $dove;
	&:hover,
	&:focus {
		color: $aquamarine;
	}
}

.wrap {
	padding: 30px;
	margin: 0 47px;
	width: auto;
	height: auto;
}

.logo-group {
	margin: 0;
}

.menu-group {
	position: relative;
	width: auto !important;
	ul {
		padding: 16px 0; 
	}
}

/*********Hover*********/
.top-bar {
	li:nth-of-type(4){
		&:hover,
		&:focus{
			margin-top: -15px;
			.sub_item{
				display: block;
				margin-top: 15px;
			}
		}
	}
}



