/*********Slider*******/
.slider-wrap {
	width: 340px;
	height: 430px;
	overflow: hidden;
}
.slider {
	width: 1300px;
	position: relative;
	left: 0px;
	transition: left .5s ease-in-out;
	li {
		width: 340px;
		height: 430px;
		float: left;
		white-space: normal;
	}
}

.slider-container {
	padding: 0 10% 10% 10%;
}
.wrap-slider-container {
	max-width: 420px;
	position: relative;
}

// Slider content
.text {
	margin-bottom: 20px; 
}
.image {
	width: 370px;
	height: 260px;
	background-color: $mice; 
}


// Slider Bullets
.slider-bullets {
	text-align: center;
	ul {
		display: inline-block;
	}
	.slider-bullet{
		float:right;
		cursor: pointer;
            background-color: $coala;
            padding: 4px;
            border-radius: 50%;
            margin: 0 10px;
	}
}

// typography
.text {
	h4 {
		text-align: center;
		line-height: $h2;
	}
	p {
		font-size: $p;
	}
	&:hover,
	&:focus {
		h4 {
			color: $aquamarine;
		}
		p {
			color: $timberwolf;
		}
	}
	
}

// arrows
.flip {
	transform: scaleX(-1);
      filter: FlipH;	
}

.slide-arrow {
	position: absolute;
	width: 12px;
	height: 20px;
	margin-top: 16%;
}

#prev {
	left: 0px;

}
#next {
	right: 0px;
}

