/*********Slider*******/
.slider-wrap {
	width: 340px;
	height: 430px;
	overflow: hidden;
	@include media($sansa) {
		width: 680px;
		height: 215px;
	}
}
.slider {
	width: 1300px;
	position: relative;
	left: 0px;
	transition: left .5s ease-in-out;
	li {
		width: 340px;
		height: 430px;
		float: left;
		white-space: normal;
		@include media($sansa) {
			width: 680px;
			height: 215px;
		}
	}
	@include media($sansa) {
		width: 2040px;
	}
}

.slider-container {
	padding: 0 10% 10% 10%;
	@include media($sansa) {
		padding: 6% 10% 6% 3%;
	}
}
.wrap-slider-container {
	text-align: center;
	max-width: 420px;
	position: relative;
	margin: 0 auto;
	@include media($sansa) {
		max-width: 840px;
		min-width: 700px;
	}
	@include media($robb) {
		@include span-columns(5, 'block');
	}
}

// Slider content
.text {
	margin-bottom: 20px; 
	text-align: left;
	@include media($sansa) {
		width: 60%;
		float: right;
		padding: 0px 20px;
	}
}
.image {
	width: 370px;
	height: 260px;
	background-color: $mice;
	img {
		width: 210px;
	}
	@include media($sansa) {
		width: 250px;
		height: 180px;
		width: 40%;
		float: left;
	} 
}


// Slider Bullets
.slider-bullets {
	text-align: center;
	ul {
		display: inline-block;
		@include media($sansa) {
			position: absolute;
			top: 215px;
			left: 305px;
		}
	}
	.bullet {
		float: right;
		background-color: $coala;
		margin: 0 10px;
	}
}
.bullet {
	cursor: pointer;
	padding: 4px;
	border-radius: 50%;
	&:hover,
	&:focus {
		background-color: $aquamarine;
	}
}

// typography
.text {
	h4 {
		text-align: center;
		line-height: $h2;
		@include media($sansa) {
			text-align: left;
		}
	}
	p {
		font-size: $p;
		@include media($robb) {
			font-size: $base;
		}
	}
	&:hover,
	&:focus {
		h4 {
			color: $aquamarine;
		}
		p {
			color: $timberwolf;
		}
	}
	
}

// arrows
.flip {
	transform: scaleX(-1);
      filter: FlipH;	
}

.slide-arrow {
	position: absolute;
	width: 12px;
	height: 20px;
	margin-top: 16%;
	@include media($sansa) {
		margin-top: 10%;
	}
}

#prev {
	left: 0px;

}
#next {
	right: 0px;
}


